@import './utils/_vars';
@import './utils/_defaultStyles';
@import './components/common/_header';
@import './components/common/_footer';
@import './components/index/_hero';
@import './components/index/_advantages';
@import './components/index/_occupation';
@import './components/index/_team';
@import './components/index/_clients';
@import './components/common/_popup';
