//************************
// HEADER
//************************

.page-header {
  @media screen and (max-width: 767px) {
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 899;
    background-color: map-get($colors, 'third-decor-color');
  }
  &--border-bottom {
    border-bottom: 1px solid #ececec;
  }

  &__content--position {
    position: relative;

    @media screen and (max-width: 767px) {
    }

    @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
    }
  }

  &__mobile-header {
    @media screen and (max-width: 767px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__wrapper {
    @media screen and (max-width: 767px) {
      display: none;
    }

    @media screen and (min-width: 768px) {
      width: 100%;
      display: flex;
      align-items: center;
    }
  }
}

// OPEN button for mobile resolution
.menu-button-toggle {
  display: none;

  @media screen and (max-width: 767px) {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    color: map-get($colors, 'secondary-text-color');
    transition: color map-get($transition-parameters, 'transition-duration')
      map-get($transition-parameters, 'cubic-bezier');

    &:hover,
    &:focus {
      color: map-get($colors, 'main-decor-color');
    }
  }

  &__icon {
    @media screen and (max-width: 767px) {
      fill: currentColor;
    }
  }
}

.logo {
  display: inline-block;
  @media screen and (max-width: 767px) {
    &--in-header {
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }

  &--indent-right {
    @media screen and (min-width: 768px) {
      margin-right: 87px;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 93px;
    }
  }
  &__part--accent {
    color: map-get($colors, 'logo-secondary-color');
  }
}

//************************
// HEADER - Site Navigation
//************************

.navigation {
  &__list--position {
    @media screen and (min-width: 768px) {
      display: flex;
      column-gap: 50px;
    }
  }
}

.navigation__link {
  display: block;
  color: map-get($colors, 'secondary-text-color');
  transition: color,
    map-get($transition-parameters, 'transition-duration')
      map-get($transition-parameters, 'cubic-bezier');

  &--active {
    color: map-get($colors, 'main-decor-color');
  }

  &:hover,
  &:focus {
    color: map-get($colors, 'main-decor-color');
  }

  @media screen and (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
    letter-spacing: 0.02em;
    font-weight: 500;
  }

  &--active::after {
    @media screen and (min-width: 768px) {
      content: '';
      display: block;
      position: absolute;
      bottom: -1px;

      height: 4px;
      width: 100%;
      border-radius: 2px;

      background-color: map-get($colors, 'main-decor-color');
    }
  }
}

//************************
// HEADER - Contact Us
//************************

.contact-us {
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: flex-start;
  }

  @media screen and (min-width: 1200px) {
    column-gap: 50px;
    flex-direction: row;
  }
  list-style: none;
  margin-left: auto;
  align-items: center;

  &__link {
    display: flex;
    align-items: center;
    font-weight: 500;
    color: var(--primary-text-color);
    line-height: 1.14;
    padding: 0;

    @media screen and (min-width: 1200px) {
      padding-top: 32px;
      padding-bottom: 32px;
    }

    &:hover,
    &:focus {
      color: map-get($colors, 'main-decor-color');
    }
  }
  &__icon {
    fill: currentColor;
  }
  &__icon--indent-right {
    @media screen and (min-width: 768px) {
      margin-right: 10px;
    }
  }

  &__icon--mail {
    @media screen and (min-width: 768px) {
      width: 14px;
      height: 10px;
    }
  }

  &__icon--phone-book {
    @media screen and (min-width: 768px) {
      width: 10px;
      height: 14px;
    }
  }

  &__icon--mail {
    @media screen and (min-width: 1200px) {
      width: 16px;
      height: 12px;
    }
  }

  &__icon--phone-book {
    @media screen and (min-width: 1200px) {
      width: 10px;
      height: 16px;
    }
  }
}
