//************************
// PROJECTS - PORTFOLIO WORKS
//************************

.portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project {
  &__link {
    transition: box-shadow
      map-get($transition-parameters, 'transition-duration')
      map-get($transition-parameters, 'cubic-bezier');
    &:hover,
    &:focus {
      display: inline-block;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }
  // Overlay
  &__thumb {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  // &__thumb::before {
  //   content: '';
  //   display: inline-block;
  //   position: absolute;
  //   width: 100%;
  //   height: 100%;
  //   background-color: rgba(33, 150, 243, 0.9);
  // }

  // &__thumb::before,
  // &__description {
  //   transform: translateY(100%);
  //   transition: transform  map-get($transition-parameters, 'transition-duration') map-get($transition-parameters, 'cubic-bezier');
  // }

  // Hide description with transform: translateY(100%);
  &__description {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: map-get($colors, 'main-decor-color');
    font-size: 18px;
    line-height: 1.55;
    color: map-get($colors, 'third-decor-color');
    padding: 63px 24px;
    overflow: auto;
    transform: translateY(100%);
    transition: transform map-get($transition-parameters, 'transition-duration')
      map-get($transition-parameters, 'cubic-bezier');
  }

  // &-link:hover &-thumb::before,
  &__link:hover &__description,
  &__link:focus &__description {
    transform: translateY(0);
  }

  &__details {
    padding: 20px 24px;
    border-left: 1px solid map-get($colors, 'border-color');
    border-right: 1px solid map-get($colors, 'border-color');
    border-bottom: 1px solid map-get($colors, 'border-color');
  }
  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: map-get($colors, 'secondary-text-color');
    margin-bottom: 4px;
  }
  &__type {
    font-size: 16px;
    line-height: 1.87;
    color: map-get($colors, 'primary-text-color');
  }
}
