//************************
// GENERAL
//************************

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

body {
  color: map-get($colors, 'primary-text-color');
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: map-get($colors, 'third-decor-color');
  margin: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  //outline: 2px solid tomato;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  &--no-padding-top {
    padding-top: 0;
  }
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: map-get($colors, 'secondary-text-color');
  margin-bottom: 50px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: map-get($colors, 'main-decor-color');
}

a {
  text-decoration: none;
  line-height: 1.14;
}

.list {
  list-style: none;
}

.btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  border-color: transparent;
  border-radius: 4px;
  &:hover {
    cursor: pointer;
  }
}
