//************************
// OCCUPATION
//************************
.occupation {
  display: flex;
  column-gap: 30px;
  &__thumb {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 70px;
      background-color: rgba(47, 48, 58, 0.8);
    }
  }
  &__title {
    width: 100%;
    height: 70px;
    padding-top: 27px;
    padding-bottom: 27px;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: map-get($colors, 'third-decor-color');
    &--position {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}
