//************************
// CLIENTS
//************************

.partners {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  // justify-content: center;

  &__item {
    margin: 0 auto;

    @media screen and (min-width: 480px) {
      flex-basis: calc((100% - 30px) / 2);
    }

    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 30px * 2) / 3);
    }

    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 30px * 5) / 6);
    }
  }

  &__link {
    padding: 16px 51px;
    display: inline-block;
    border: 1px solid map-get($colors, 'icon-main-color');
    border-radius: 4px;
    line-height: 0;
    color: map-get($colors, 'icon-main-color');
    transition: color map-get($transition-parameters, 'transition-duration')
        map-get($transition-parameters, 'cubic-bezier'),
      border-color map-get($transition-parameters, 'transition-duration')
        map-get($transition-parameters, 'cubic-bezier');

    &:hover,
    &:focus {
      border-color: map-get($colors, 'main-decor-color');
      color: map-get($colors, 'main-decor-color');
    }

    @media screen and (min-width: 768px) {
      padding: 16px 58px;
    }

    @media screen and (min-width: 1200px) {
      padding: 16px 30px;
    }
  }

  &__logo {
    fill: currentColor;
  }
}
